@model IList<BookViewModel>

<table class="table table-info table-hover">
    <thead>
        <tr>
            <th>Название книги</th>
            <th>Авторы</th>
            <th>Дата издания</th>
            <th>Категории</th>
            <th>Путь к изображению</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>
                    @foreach (var author in book.Authors)
                    {
                        <p>@author.Name</p>
                    }
                </td>
                <td>@book.PublicationDate.ToShortDateString()</td>
                <td>
                    @foreach (var category in book.Categories)
                    {
                        <p>@category.Name</p>
                    }
                </td>
                <td>@book.ImagePath</td>
                <td>
                    <a asp-controller="Book" asp-action="DeleteBook" asp-route-id="@book.Id" class="btn btn-outline-danger">x</a>
                </td>
            </tr>
        }
    </tbody>
</table>