@model UserViewModel
@{
    ViewData["Title"] = "GetUser";
}

<h3>Личный кабинет</h3>

<div class="container-fluid">
    @if (Model != null)
    {
        <p>@Model.Login</p>
        <p>@Model.Email</p>
        <br />
        <h3>Мои заказы</h3>
        @if (Model.Orders != null && Model.Orders.Any())
        {
            <table class="table table-warning table-hover" style="font-size:12px">
                <tr>
                    <th>Номер заказа</th>
                    <th>Товары</th>
                    <th>Дата создания</th>
                    <th>Цена</th>
                </tr>
                @foreach (var order in Model.Orders)
                {
                    if (order.Books != null && order.Books.Any())
                    {
                        var totalPrice = order.Books.Sum(book => book.Price);
                        <tr>
                            <td>@order.Id</td>
                            <td>
                                @foreach (var book in order.Books)
                                {
                                    <p>
                                        <a asp-controller="Book" asp-action="GetBook" asp-route-bookid="@book.Id">@book.Title</a>
                                    </p>
                                    
                                }
                            </td>
                            <td>
                                @order.CreationDate.ToShortDateString()
                            </td>
                            <td>
                                @totalPrice
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Вы пока не сделали ни один заказ...</td>
                        </tr>
                    }
                }
            </table>
        }
    }
</div>

