@model IList<OrderViewModel>

<h2>Заказы</h2>

<div>
    @if (Model is not null && Model.Any())
    {
        <ul class="list-group">
            @foreach (var order in Model)
            {
                <li class="list-group-item mb-3 align-content-between">
                    <h5>Номер заказа: @order.Id</h5>
                    @foreach (var book in order.Books)
                    {
                        <div class="row container-fluid">
                            <div class="col-md-2">
                                <img src="~/img/@book.ImagePath" width="80" />
                            </div>
                            <div class="col-md-10" align="left">
                                <div>
                                    <small>ID книги: @book.Id</small>
                                </div>
                                <div>
                                    <small>Название: @book.Title</small>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="text-decoration-underline">
                        <span>
                            Email клиента: @order.User.Email
                        </span>
                        <span>Дата создания: @order.CreationDate.ToShortDateString()</span>
                        @{
                            var totalPrice = order.Books.Sum(book => book.Price);
                        }
                        <span>Цена: @totalPrice</span>
                    </div>

                </li>
            }
        </ul>
    }
    else
    {
        <p>Заказов пока нет...</p>
    }
</div>
