@model IList<OrderViewModel>

<h2>Заказы</h2>
<div>
    @if (Model is not null && Model.Any())
    {
        <table class="table table-active table-hover" style="font-size:12px">
            <tr>
                <th>Номер заказа</th>
                <th>Товары</th>
                <th>Клиент</th>
                <th>Дата создания</th>
                <th>Выполнен</th>
                <th>Цена</th>
                
                <th></th>
            </tr>
            @foreach (var order in Model)
            {
                var totalPrice = order.Books.Sum(book => book.Price); 
                <tr>
                    <td>@order.Id</td>
                    <td>
                        @foreach (var book in order.Books)
                        {
                            <p>
                                <a asp-controller="Book" asp-action="GetBook" asp-route-bookid="@book.Id">@book.Title</a>
                            </p>   
                        }
                    </td>
                    <td>
                        @order.User?.Email  
                    </td>
                    <td>
                        @order.CreationDate.ToShortDateString()
                    </td>
                    <td>
                        <input type="checkbox"/>
                    </td>
                    <td>
                        @totalPrice
                    </td>
                    <td>
                        <a asp-action="DeleteOrder" asp-controller="Order" asp-route-orderid="@order.Id" class="text-decoration-none" title="Удалить" alt="Удалить">&#10060;</a>
                    </td>
                </tr> 
            }
        </table>
    }
    else
    {
        <p>Заказов пока нет...</p>
    }
</div>
